@keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.4);
  }
}
.about {
  background-color: #0a2850;
  display: flex;
  text-align: center;
}

.about__title {
  max-width: 251px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin-left: 80px;
  margin-top: 100px;
}

.about__content {
  color: white;
  max-width: 660px;
  gap: 20px;
  padding: 119px;
  margin-bottom: 173px;
  text-align: left;
}

.about__circle {
  border-radius: 50%;
  position: absolute;
  top: 152px;
  right: 129px;
  width: 426px;
  height: 426px;
}

.about__circle_animation_blurred {
  width: 426px;
  height: 426px;
  background: #1878dc;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: -2;
  animation: pulse 1.3s ease-in-out infinite;
}
